<div id="chat-container">
  <button><i
      class="fa-solid fa-house"
      onclick="goBackToViewPageFromMessage()"
    ></i></button>
  <div id="messages">
    {{#each allMessages}}

      <div class="message-div">
        <div
          class="message"
          style="background-color: {{bgColor}};align-self: {{alignSelf}};"
        >
          <p>{{message}}</p>
          <i class="fa-solid fa-trash" onclick="deleteMessage('{{id}}')"></i>
        </div>
      </div>

    {{/each}}

    <!-- Container where the messages will be rendered -->
    <div id="message-container"></div>

  </div>

  <div id="input-container">
    <input type="text" id="message-input" placeholder="Type a message..." />
    <button onclick="sendMessage()">Send</button>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/message.js"></script>

<script>
  window.tempMessages =
  {{{json tempMessages}}};
</script>